.hookscontainer {
    display: flex;
    justify-content: center;

    margin-top: 1em;
    background-image: url("../../../public/hooksbacground.jpg");
    height: 25em;
    background-size: contain;
}

.hooksheadingContainer {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-left: 2em;
}

.hooksheading {
    font-family: "nunito";
}