.container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.headingContainer {
    background-image: url('../../../public/setting_background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 25em;
}

.heading {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    padding: 1em;
    font-family: "nunito";
    text-align: right;
}

.lineTwo {
    color: rgb(112, 122, 206);
    text-align: center;
    padding-top: 0.5em;
    margin-left: -1em;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6em;
}